* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 99%;
  height: 99%;
}

html,
body {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  /*overflow: hidden;*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root > div {
  height: 100vh;
}

.btn-primary {
  color: var(--bs-light) !important;
}

.table > tbody > tr:nth-child(even) > td,
.table > tbody > tr:nth-child(even) > th {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light);
}

.table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > th {
  background-color: var(--bs-light-dark) !important;
  color: var(--bs-light);
}

.table tbody tr {
  cursor: pointer;
}

.center-td {
  display: flex;
  align-items: center;
  justify-content: center;
}
